/SistemPendataanJemaat/.vs
/SistemPendataanJemaat/SistemPendataanJemaat/SistemPendataanJemaat.csproj.user
/SistemPendataanJemaat/SistemPendataanJemaat/bin
/SistemPendataanJemaat/SistemPendataanJemaat/obj
