<div style="padding: 20px; z-index: 10; position: relative;">
    <div class="row">
        <center>
            <h1 class="text-login">Registrasi Berhasil!</h1><br />
        </center>
    </div>
    <div class="col-md-6">
        <div class="row pd-top">
            <a class="link-login" asp-action="Login">Klik disini untuk LOGIN</a>
        </div>
    </div>
</div>